.card {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    color:white;
}
